.city-container {
  // position: relative;
  font-family: helvetica;
}

.city-search {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 200px;
}

.city-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 3%;
  right: 3%;
  width: 200px;
}

.city-enter-tag {
  // width: 50%

}

.city-enter-tag-input {
  width: 100%;
}

.city-enter-tag-submit {
  width: 100%;
}

h3 { text-align: center; }
body { margin:0; padding:0; }
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.filter-ctrl {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 180px;
}

.filter-ctrl input[type=text] {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 100%;
  border: 0;
  background-color: #fff;
  height: 40px;
  margin: 0;
  color: rgba(0,0,0,.5);
  padding: 10px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.info-container {
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 1;
  width: 275px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.city-tag-ranking {
  // position: absolute;
  // width: 100%;
  background-color: white;

  // right: 3%;
  // top: 5%;
}
