h3 { text-align: center; }
body { margin:0; padding:0; }
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
.city-container {
  // position: relative;
  font-family: helvetica;
}

.city-search {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 200px;
}

.city-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 3%;
  right: 3%;
  width: 200px;
  background-color: #FFFAFA;

}

.city-enter-tag {
  // width: 50%

}

.city-enter-tag-input {
  width: 100%;
}

.city-enter-tag-submit {
  width: 100%;
}



