/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body {
  overflow: hidden;
}

.home-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #efefbb, #d4d3dd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #efefbb, #d4d3dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: helvetica;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .logo {
    text-align: center;
    margin-bottom: 2rem;
    img {
      width: 160px;
    }
  }
}

.search {
  width: 50vw;
  height: 7vw;
  display: inline-block;
  margin: auto;
  padding: 10px;
  font-size: 4vw;
  box-shadow: 1px 1px 6px #757575;
  text-align: center;
  vertical-align: center;
  background-color: #fff;
  z-index: 100;
  color: #333;
  #input {
    font-size: .7em;
  }
}
.word-wall {
  position: relative;
  // top: 0px;
}

// courtesy of blo4r
.word {
  outline: 1px solid #313131;
  outline-offset: -1px;
  display: inline-block;
  padding: 0 .2em;
  line-height: 1.4;
  white-space: nowrap;
  color: #FFFFFF;
}

//codepen courtesy of Captain Anonymous (https://codepen.io/anon/pen/QMbpdM)
#hiddenInput {
  font-family: helvetica;
  position: absolute;
  opacity: 0.4;
  opacity: 0;
  filter: alpha(opacity = 0);
}

// #container {
//   position: absolute;
//   top: 80px;
//   left: 50%;
// }

// #input {
//   position: absolute;
//   margin-top: -20px;
//   margin-left: -120px;
// }

.card-wrapper {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  .city-card {
    height: 170px;
    margin: 1rem;
    width: 200px;
    background: #fff;
    box-shadow: 1px 1px 6px #757575;
    img {
      width: 200px;
    }
    .title {
      color: #333;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }
  }
}

.letterContainer {
  display: inline;
  white-space: nowrap;
}

.letterStatic {
  display: inline;
}

.letterAnimTop {
  display: inline;
  position: absolute;
  -webkit-animation: dropTop .1s ease;
  -moz-animation: dropTop .1s ease;

}

.letterAnimBottom {
  display: inline;
  position: absolute;
  -webkit-animation: dropBottom .1s ease;
  -moz-animation: dropBottom .1s ease;
}

.blink {
  animation: 1s blink step-end infinite;

}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-moz-keyframes dropTop {
  from {
    -moz-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
    transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
  }

  to {
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
    transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
  }
}

@-moz-keyframes dropBottom {
  from {
    -moz-transform: translateY(20px) translateZ(20px) rotateX(-90deg);
    transform: translateY(20px) translateZ(20px) rotateX(-90deg);
  }

  to {
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes dropTop {
  from { -webkit-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg); }
  to { -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg); }
}

@-webkit-keyframes dropBottom {
  from { -webkit-transform: translateY(20px) translateZ(20px) rotateX(-90deg); }
  to { -webkit-transform: rotateX(0deg); }
}
