<head>
  <title>yutags--tag your city</title>
</head>
<body>
  <!-- <h1>ENTER A CITY!!<h1> -->
 <div class="home-page" >
  <div class="wrap">
   <div class="search">
    <%= form_tag results_index_path, method: :get do %>
     <%= text_field_tag :query, params[:query] %>
     <%= submit_tag "Search", name: nil %>
    <% end %>
   </div>
  </div>
 </div>
</body>


