

<div class="map-div" id='map'></div>

<div class='filter-ctrl'>
  <input id='filter-input' type='text' name='filter' placeholder='Filter by name' />
</div>

<% content_for(:after_js) do %>

<%= javascript_tag do %>

mapboxgl.accessToken = 'pk.eyJ1Ijoic2FsaW1jaG9yZmkiLCJhIjoiY2o0azBlenFpMGV6ajJ3cWhmOWwzeHBzcyJ9.9kmFrJOa12m_9PxIvAJatQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/salimchorfi/cj58ljlw553ep2tmn2rd6787s',
center: [-73.694, 45.546],
zoom: 10.3 // starting zoom
});

// map.scrollZoom.disable();

var neighbor_name = geo.features[4].properties.FEDENAME

map.on('load', function () {

map.addSource("states", {
"type": "geojson",
"data": geo
});

map.addLayer({
"id": "state-fills",
"type": "fill",
"source": "states",
"layout": {},
"paint": {
"fill-color": "#627BC1",
"fill-opacity": 0.2
}
});

map.addLayer({
"id": "state-borders",
"type": "line",
"source": "states",
"layout": {},
"paint": {
"line-color": "#fff",
"line-width": 1
}
});

map.addLayer({
"id": "state-fills-hover",
"type": "fill",
"source": "states",
"layout": {},
"paint": {
"fill-color": "#627BC1",
"fill-opacity": 1
},
"filter": ["==", "FEDNAME", ""]
});

map.addLayer({
"id": "neighbor",
"type": "symbol",
"source": "states",
"layout": {
"text-field": "{FEDENAME}",
"text-size": 11,
}

});

map.on('click', 'state-fills', function (e) {
console.log(geo)
// geo.features[0].properties.push({
 // toptag:"Champignon",
// });
// console.log(geo.features[0].properties);
// $("#district_name").get(0).value = geo.features[0].properties;
var centro = turf.centroid(e.features[0])
new mapboxgl.Popup()

.setLngLat(centro.geometry.coordinates)
.setHTML('<%= simple_form_for :city do |f| %> \
<%= f.input :name %> \
<%= f.submit 'Submit', input_html: {id: "submit-btn"} %> \
<% end %>')
.addTo(map);
// console.log(e.features[0].properties.FEDENAME);
// console.log(centro.geometry.coordinates);
});

// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'state-fills', function () {
map.getCanvas().style.cursor = 'pointer';
});

// Change it back to a pointer when it leaves.
map.on('mouseleave', 'state-fills', function () {
map.getCanvas().style.cursor = '';
});
});

<% end %>
<% end %>

