<div class="map-div" id='map'></div>

<div class='filter-ctrl'>
  <input id='filter-input' type='text' name='filter' placeholder='Filter by name' />
</div>

<img src="img/chardin.png" data-intro="An awesome 18th-century painter, who found beauty in everyday, common things." data-position="left" />

