<div class="city-container">

  <div class="map-div" id='map'></div>

  <div class="city-search">
    <input type="text" name='tag' class="city-search-input" placeholder='Search city' />
  </div>

  <div class="city-info">

    <% content_for(:after_js) do %>
      <%= render(:partial => 'map', :handlers => [:erb], :formats => [:js]) %>
    <% end %>

    <div class="city-tag-ranking">
      <h3>This District</h3>
      <ol>
        <li>Habs</li>
        <li>Bagels</li>
        <li>Poutine</li>
        <li>yutian</li>
        <li>the onion</li>
        <li>potato</li>
        <li>yutian again</li>
        <li>bridge</li>
        <li>sauce</li>
        <li>botanical gardeb</li>
        <li>smells</li>
        <li>opa</li>
        <li>omma</li>
        <li>hello</li>
        <li>yutian2</li>
        <li>yutian3</li>
        <li>plants</li>
        <li>salim</li>
      </ol>
    </div>

    <div class='city-enter-tag'>
      <input type="text" name='tag' class="city-enter-tag-input" placeholder='Add your tag' />
      <input type="submit" class="city-enter-tag-submit" value="Submit">
    </div>

  </div>
</div>
