
<div class="map-div" id='map'></div>

<div class='filter-ctrl'>
  <input id='filter-input' type='text' name='filter' placeholder='Filter by name' />
   <ul>
   <%  @tags.each do |tag| %>
   <% raise %>
     <li>  <%=  tag.content %></li>
       <% end %>
   </ul>
</div>
</div>

<% content_for(:after_js) do %>
  <%= render(:partial => 'map', :handlers => [:erb], :formats => [:js]) %>
<% end %>

