


<div id='map'></div>
<div class='filter-ctrl'>
    <input id='filter-input' type='text' name='filter' placeholder='Filter by name' />
</div>

<!-- <div class="info-container" data-url="<%= cities_url %>"> -->
<%= content_tag :div, class: "info-container", id: "tags_list", data: {temp: @hello} do %>
<% end %>



<% content_for(:after_js) do %>
  <%= render(:partial => 'map', :handlers => [:erb], :formats => [:js]) %>
<% end %>
