<div class="city-container">


  <div class="map-div" id='map'></div>
  <% content_for(:after_js) do %>
  <%= render(:partial => 'map', :handlers => [:erb], :formats => [:js]) %>
  <% end %>

  <div class="city-search">
    <input type="text" name='tag' class="city-search-input" placeholder='Search city' />
  </div>

  <div class="city-info">

      <%#content_tag :div, id: "tags_list" do %>
      <%# end %>
      <div id="tags_list" ></div>

    <div class='city-enter-tag'>
      <input type="text" name='tag' class="city-enter-tag-input" placeholder='Add your tag' />
      <input type="submit" class="city-enter-tag-submit" value="Submit">
    </div>


  </div>
</div>

