<% @votes.each do |vote| %>
  <%= link_to vote_path(vote , type: 'upvote'), method: :put, remote: true  do %>
    <div class="tf-post-item--votes" >
      <div id="countdown">
        <span class="old-vote">  <%= render "vote", vote: vote %> </span>
      </div>
    </div>
  <% end %>
<% end %>








<% content_for(:after_js) do %>

    <script>
    $(".tf-post-item--votes").on("click", function() {
      if($(this).hasClass('voted')){
        $(this).removeClass('voted');


      } else {
        $(this).addClass("voted");

          // $(this).addClass('disable-pointer-events');
      }
    });
    </script>

<% end %>
